<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kt.mapper.GisMapper">

	<!-- 게시글 list -->
	<select id="selectList" resultType="com.kt.vo.GisVO">
		<!-- VO랑 변수명 맞춰야함 -->
	<![CDATA[
		select 
			 emdcd
			,emdkornm 
			,emdgeom
		  from sgg_geom
	]]>
	</select>
<!-- AND  sgg_cd = #{sggCd} -->
	<!-- 선택된 구에 해당하는 상권 정보 가져오기 -->
	<select id="getSangList" parameterType="com.kt.vo.SangVO" resultType="com.kt.vo.SangVO">
		<!-- VO랑 변수명 맞춰야함 -->
	<![CDATA[
		 SELECT
			 tra_nm --상호명
			,admdong_nm --읍면동명
			,xcrd::numeric --map함수에 적용될때는 숫자여야하므로 numeric으로 casting
			,ycrd::numeric
		 FROM TRA_XYCRD_SEOUL
		WHERE tra_upjong_mid_cd = #{upjongMidCd} --'Q12(커피점/카페)' 'D03(종합소매점(편의점))'
		  
		ORDER BY tra_num desc		  
	    LIMIT 100
	]]>
	</select>
	
	<!-- 상권정보 가져와서 클러스터링 -->
	<select id="getSangCluster" parameterType="com.kt.vo.SangVO" resultType="com.kt.vo.SangVO">
		<!-- VO랑 변수명 맞춰야함 -->
	<![CDATA[
		 SELECT
			 tra_nm --상호명
			,admdong_nm --읍면동명
			,xcrd::numeric --map함수에 적용될때는 숫자여야하므로 numeric으로 casting
			,ycrd::numeric
		 FROM TRA_XYCRD_SEOUL
		WHERE tra_upjong_mid_cd = #{upjongMidCd} --'Q12(커피점/카페)' 'D03(종합소매점(편의점))'
		ORDER BY tra_num desc		  
	    LIMIT 1000
	]]>
	</select>



	<!-- 서울시 시군구 명 가져오기 -->
	<select id="getSeoulList" resultType="com.kt.vo.SangVO">
		<!-- VO랑 변수명 맞춰야함 -->
		<!-- VO는 언더바 빼야함 -->
	<![CDATA[
		SELECT
			   SGG_CD
			  ,SGG_NM
		  FROM COMCD
	]]>
	</select>

	<!-- 서울시 종로구 경계영역 가져오기 -->
	<select id="getSeoulGeom" parameterType="com.kt.vo.guVO"
		resultType="com.kt.vo.guVO">
		<!-- VO랑 변수명 맞춰야함 -->
		<!-- VO는 언더바 빼야함 -->
	<![CDATA[
		select 
			 substr(admdong_cd,1,5) as sigCd
			,st_astext(st_multi(st_union(st_transform(st_setsrid(geom,5179),3857)))) as geom
		  from alp_admdong_alp_m_sum
		WHERE substr(admdong_cd,1,5) = #{sigCd}
		group by 1
	]]>
	</select>
	
	<!-- SELECT emd_cd ,emd_kor_nm ,st_astext(st_transform(geom,3857)) geom 
		,rank FROM tl_scco_emd WHERE emd_cd like concat(#{sigCd},'%') -->
		
<!-- SELECT 	
		T101.admdong_cd AS emdCd
		,substr(T101.admdong_nm, 11) AS emdKorNm
		,st_astext(st_transform(st_setsrid(T101.geom,5179),3857)) AS geom
		,ntile(5) over(ORDER BY T102.cnt desc) AS rank
		,cnt AS traCnt
		FROM alp_admdong_alp_m_sum T101
		LEFT JOIN (SELECT admdong_cd, count(tra_num) cnt
		             FROM tra_xycrd_3
		            WHERE admdong_cd like concat(#{sigCd},'%')
		            GROUP BY 1
		           ) T102
		  ON T101.admdong_cd = substr(T102.admdong_cd,1,8)
	   WHERE T101.admdong_cd like concat(#{sigCd},'%') -->
	<!-- 선택된 구의 동정보 경계영역 가져오기 -->
	<select id="getEmdGeom" parameterType="com.kt.vo.guVO"
		resultType="com.kt.vo.EmdVO">
		<!-- VO랑 변수명 맞춰야함 -->
		<!-- VO는 언더바 빼야함 -->
	<![CDATA[ 
  select T21.emdCd
      ,T21.emdKorNm
      ,T21.emdGeom as emdGeom
      ,T22.guGeom as guGeom --선택한 시군구의 센터값을 구하기위해 한단이 추가됨..드롭박스 채울때 들고오게 할 예정
      ,T21.rank
      ,T21.traCnt
  from (
        SELECT 	
		T101.admdong_cd AS emdCd
		,substr(T101.admdong_nm, 11) AS emdKorNm
		,st_astext(st_transform(st_setsrid(T101.geom,5179),3857)) AS emdGeom
		,ntile(5) over(ORDER BY T102.cnt desc) AS rank
		,cnt AS traCnt
		FROM alp_admdong_alp_m_sum T101
		LEFT JOIN (SELECT admdong_cd, count(tra_num) cnt
		             FROM tra_xycrd_seoul
		            WHERE admdong_cd like concat(#{sigCd},'%')
		            GROUP BY 1
		           ) T102
		  ON T101.admdong_cd = substr(T102.admdong_cd,1,8)
	   WHERE T101.admdong_cd like concat(#{sigCd},'%')) T21
        ,(
         select substr(admdong_cd,1,5)as sgg_cd
               ,st_astext(st_multi(st_union(st_transform(st_setsrid(geom,5179),3857)))) as guGeom
           from alp_admdong_alp_m_sum
          where substr(admdong_cd,1,5) like #{sigCd}
          group by 1 ) T22
 where substr(T21.emdCd,1,5) = T22.sgg_cd
	]]>
	</select>
</mapper>