<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kt.mapper.GisMapper">

	<!-- 게시글 list -->
	<select id="selectList" resultType="com.kt.vo.GisVO">
	<!-- VO랑 변수명 맞춰야함 -->
	<![CDATA[
		SELECT
			  NAME
			 ,AGE
		 FROM GISTAR.TEST
	]]>
	</select>

</mapper>